@import url("./__title/feynman__title.css");
@import url("./__subtitle/feynman__subtitle.css");
@import url("./__link/feynman__link.css");


.feynman {
  position: relative;
  min-height: 790px;
  background-color: #F2F2F2;
  padding: 0;
}